body{
	margin: 0;
	padding: 0;
	background-color:#5a6a82;
}

p{
	margin: 0;
	padding: 0;

	font-family: "微软雅黑" "华文细黑";
}

div{
	margin: 0;
	padding: 0;
}


/*----------------------------------------导航栏----------------------------------------*/
.navigation-bar{	
	border: 0px solid red;

	position: fixed;
	top:0;
	left: 0px;
	right:0px;
	z-index: 0;
	text-align: center;

    background-color: black;
    opacity: 0.8;
}

.navigation-word{
	border: 0px solid blue;

	margin: 0 ;
	padding: 12px 22px 12px 22px;
	display: inline-block;
	
    font-size: 20px;
    color: gray;
}

.navigation-word:hover{
	color: #76a4d5;
}

#navigation-word-selected{
	color: #76a4d5;
}


/*----------------------------------------图片区----------------------------------------*/
.header{
	border: 0px solid red;

	margin: 0px;
	padding: 0px;

	width: 100%;
	display: inline-block;
    vertical-align: top;

    font-size: 0;
}

#word{
	border: 0px solid blue;

    margin: 0px;
	padding:18px;


	text-align: center;
	font-size: 20px;
	color: #749fcd;

    background-image:url(images/header2.jpg) ;
    background-size: 100%;
}


/*----------------------------------------排行区----------------------------------------*/
#title{
	border: 0px solid red;
	margin: 0;
	padding: 0;
	margin-top:20px;
	

	text-align: center;
}

#ranking{
	border: 0px solid red;
    
    margin: 0;
    padding: 0;


	text-align: center;
	width: 100%;
	margin: 0px auto;
	margin-bottom: 120px;
}

.person{
	border: 2px black solid;
	border-color: #001839;
	display: inline-block;

	margin:6px;
	padding: 0;
	background-color: #183c6e;

}

.icon{
	border: 2px black solid;
    border-top:0;
    border-left: 0;
    border-bottom: 0;
    border-color: #001839;

	display: inline-block;
	margin:0;
	padding: 0px;

	background: #004349;
}

.photo{
	margin: 0;
	padding: 0px;
	border: 0px white solid;
}

.name{
	margin: 0px;
	padding:0px 10px 4px 10px;
	border: 0px red solid;
	color: white;
	font-family: "微软雅黑";
	font-size: 20px;

}

a:link{
	text-decoration: none;
}

.descrip{
	border: 0px solid red;

    margin: 8px 10px 8px 10px;

    width:150px;
	vertical-align: top;
    display: inline-block;	
    text-align: left;
}

.descrip p{
	border: 0px black solid;

	color: white;
	font-size: 16px;
	line-height: 29px;
}